</main>

<footer class="bg-gray-800 text-white mt-auto w-full">
    <div
        class="max-w-screen-xl mx-auto px-4 py-6 flex flex-col md:flex-row justify-between items-center space-y-4 md:space-y-0">

        <div class="text-sm">
            Kevin Ung © 2025 App Assignment 2.
        </div>

        <!-- GitHub Icon -->
        <a href="https://github.com/NivekGnu" target="_blank" title="GitHub">
            <img src="/github.svg" alt="GitHub Icon" class="w-8 h-8">
        </a>
    </div>

    </div>
</footer>
</body>

</html>