<%- include('partials/header') %>

    <div class="bg-gray-100 h-screen flex flex-col items-center justify-center">

        <h1 class="text-2xl font-bold mb-4">wrong URL bud (Error 404)</h1>      

        <img src='/HUUH.gif' alt="HUUH cat" style='width:250px;'>
        
    </div>

<%- include('partials/footer') %>